# 과제목표
1. 와인의 type과 quality로 groupby를 하여 alchol의 평균을 구해라
2. 와인의 quality로 groupby를 하여 alcohol의 평균과 표준편차를 구하라
3. 와인의 quality로 groupby를 하여 alcohol의 [ 평균, 분산(var)], pH의 [중앙값(median)과 합]을 구하라
2. 와인의 type과 quality로 groupby를 하여 alcohol의 [평균과 중앙값]을 구하라

In [11]:
import pandas as pd

red_wine_df = pd.read_csv('data/winequality-red.csv', sep=';')
white_wine_df = pd.read_csv('data/winequality-white.csv', sep=';')
red_wine_df.to_csv('Test/winequality-red1.csv', index=False)
white_wine_df.to_csv('test/winequality-white1.csv', index=False)

red_wine_df.info()
white_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [12]:
print(red_wine_df.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70         0.00             1.9      0.076
1            7.8              0.88         0.00             2.6      0.098
2            7.8              0.76         0.04             2.3      0.092
3           11.2              0.28         0.56             1.9      0.075
4            7.4              0.70         0.00             1.9      0.076

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68
2                 15.0                  54.0   0.9970  3.26       0.65
3                 17.0                  60.0   0.9980  3.16       0.58
4                 11.0                  34.0   0.9978  3.51       0.56

   alcohol  quality
0      9.4        5
1      9.8        5
2      9.8        5
3      9.8        6
4      9.4        5

In [14]:
red_wine_df.insert(0, column='type', value='red')
white_wine_df.insert(0, column='type', value='white')

print(red_wine_df.head())
print(white_wine_df.head())

  type  fixed acidity  volatile acidity  citric acid  residual sugar  \
0  red            7.4              0.70         0.00             1.9
1  red            7.8              0.88         0.00             2.6
2  red            7.8              0.76         0.04             2.3
3  red           11.2              0.28         0.56             1.9
4  red            7.4              0.70         0.00             1.9

   chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0      0.076                 11.0                  34.0   0.9978  3.51
1      0.098                 25.0                  67.0   0.9968  3.20
2      0.092                 15.0                  54.0   0.9970  3.26
3      0.075                 17.0                  60.0   0.9980  3.16
4      0.076                 11.0                  34.0   0.9978  3.51

   sulphates  alcohol  quality
0       0.56      9.4        5
1       0.68      9.8        5
2       0.65      9.8        5
3       0.58      9.8        6
4       0.56      9.4        5
    type  fixed acidity  volatile acidity  citric acid  residual sugar  \
0  white            7.0              0.27         0.36            20.7
1  white            6.3              0.30         0.34             1.6
2  white            8.1              0.28         0.40             6.9
3  white            7.2              0.23         0.32             8.5
4  white            7.2              0.23         0.32             8.5

   chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0      0.045                 45.0                 170.0   1.0010  3.00
1      0.049                 14.0                 132.0   0.9940  3.30
2      0.050                 30.0                  97.0   0.9951  3.26
3      0.058                 47.0                 186.0   0.9956  3.19
4      0.058                 47.0                 186.0   0.9956  3.19

   sulphates  alcohol  quality
0       0.45      8.8        6
1       0.49      9.5        6
2       0.44     10.1        6
3       0.40      9.9        6
4       0.40      9.9        6

In [15]:
wine = pd.concat([red_wine_df, white_wine_df])
wine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6497 non-null   float64
 2   volatile acidity      6497 non-null   float64
 3   citric acid           6497 non-null   float64
 4   residual sugar        6497 non-null   float64
 5   chlorides             6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 710.6+ KB

In [17]:
wine.columns = wine.columns.str.replace(' ', '_')
print(wine.head())

  type  fixed_acidity  volatile_acidity  citric_acid  residual_sugar  \
0  red            7.4              0.70         0.00             1.9
1  red            7.8              0.88         0.00             2.6
2  red            7.8              0.76         0.04             2.3
3  red           11.2              0.28         0.56             1.9
4  red            7.4              0.70         0.00             1.9

   chlorides  free_sulfur_dioxide  total_sulfur_dioxide  density    pH  \
0      0.076                 11.0                  34.0   0.9978  3.51
1      0.098                 25.0                  67.0   0.9968  3.20
2      0.092                 15.0                  54.0   0.9970  3.26
3      0.075                 17.0                  60.0   0.9980  3.16
4      0.076                 11.0                  34.0   0.9978  3.51

   sulphates  alcohol  quality
0       0.56      9.4        5
1       0.68      9.8        5
2       0.65      9.8        5
3       0.58      9.8        6
4       0.56      9.4        5

1. 와인의 type과 quality로 groupby를 하여 alchol의 평균을 구해라
2. 와인의 quality로 groupby를 하여 alcohol의 평균과 표준편차를 구하라
3. 와인의 quality로 groupby를 하여 alcohol의 [ 평균, 분산(var)], pH의 [중앙값(median)과 합]을 구하라
2. 와인의 type과 quality로 groupby를 하여 alcohol의 [평균과 중앙값]을 구하라

In [25]:
#선택된 'quality' 열에 대한 통계적 요약을 생성
wine.groupby('type')['alcohol'].describe()

wine.groupby('quality')['alcohol'].agg({'mean', 'std'})

wine.groupby('quality').agg({'alcohol':['mean', 'var'], 'pH':['median', 'sum']})

wine.groupby(['type', 'quality'])['alcohol'].agg(['mean', 'std'])

                    mean       std
type  quality
red   3         9.955000  0.818009
      4        10.265094  0.934776
      5         9.899706  0.736521
      6        10.629519  1.049639
      7        11.465913  0.961933
      8        12.094444  1.224011
white 3        10.345000  1.224089
      4        10.152454  1.003217
      5         9.808840  0.847065
      6        10.575372  1.147776
      7        11.367936  1.246536
      8        11.636000  1.280138
      9        12.180000  1.013410