# 데이터 수집
 - 다운로드 경로 : https://archive.ics.uci.edu/dataset/186/wine+quality

In [41]:
import pandas as pd

red_df= pd.read_csv('data/winequality-red.csv', sep=';')
white_df=pd.read_csv('data/winequality-white.csv', sep=';')
red_df.to_csv('data/winequality-red1.csv', index=False)
white_df.to_csv('data/winequality-white1.csv', index=False)

In [42]:
red_df.info()
white_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

In [43]:
red_df.insert(0, column='type', value='red')
white_df.insert(0, column='type', value='white')
print(red_df.head())
print(white_df.head())

  type  fixed acidity  volatile acidity  citric acid  residual sugar  \
0  red            7.4              0.70         0.00             1.9
1  red            7.8              0.88         0.00             2.6
2  red            7.8              0.76         0.04             2.3
3  red           11.2              0.28         0.56             1.9
4  red            7.4              0.70         0.00             1.9

   chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0      0.076                 11.0                  34.0   0.9978  3.51
1      0.098                 25.0                  67.0   0.9968  3.20
2      0.092                 15.0                  54.0   0.9970  3.26
3      0.075                 17.0                  60.0   0.9980  3.16
4      0.076                 11.0                  34.0   0.9978  3.51

   sulphates  alcohol  quality
0       0.56      9.4        5
1       0.68      9.8        5
2       0.65      9.8        5
3       0.58      9.8        6
4       0.56      9.4        5
    type  fixed acidity  volatile acidity  citric acid  residual sugar  \
0  white            7.0              0.27         0.36            20.7
1  white            6.3              0.30         0.34             1.6
2  white            8.1              0.28         0.40             6.9
3  white            7.2              0.23         0.32             8.5
4  white            7.2              0.23         0.32             8.5

   chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0      0.045                 45.0                 170.0   1.0010  3.00
1      0.049                 14.0                 132.0   0.9940  3.30
2      0.050                 30.0                  97.0   0.9951  3.26
3      0.058                 47.0                 186.0   0.9956  3.19
4      0.058                 47.0                 186.0   0.9956  3.19

   sulphates  alcohol  quality
0       0.45      8.8        6
1       0.49      9.5        6
2       0.44     10.1        6
3       0.40      9.9        6
4       0.40      9.9        6

In [44]:
wine=pd.concat([red_df, white_df])
wine.info()

#합치면서 인덱스가 겹쳐져서 번호는 4897번까지 나옴

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6497 non-null   float64
 2   volatile acidity      6497 non-null   float64
 3   citric acid           6497 non-null   float64
 4   residual sugar        6497 non-null   float64
 5   chlorides             6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 710.6+ KB

In [45]:
wine.to_csv('data/wine.csv', index=False)
wine_df=pd.read_csv('data/wine.csv')

In [46]:
print(wine.head());

  type  fixed acidity  volatile acidity  citric acid  residual sugar  \
0  red            7.4              0.70         0.00             1.9
1  red            7.8              0.88         0.00             2.6
2  red            7.8              0.76         0.04             2.3
3  red           11.2              0.28         0.56             1.9
4  red            7.4              0.70         0.00             1.9

   chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0      0.076                 11.0                  34.0   0.9978  3.51
1      0.098                 25.0                  67.0   0.9968  3.20
2      0.092                 15.0                  54.0   0.9970  3.26
3      0.075                 17.0                  60.0   0.9980  3.16
4      0.076                 11.0                  34.0   0.9978  3.51

   sulphates  alcohol  quality
0       0.56      9.4        5
1       0.68      9.8        5
2       0.65      9.8        5
3       0.58      9.8        6
4       0.56      9.4        5

In [47]:
#필드명 변경
wine.columns = wine.columns.str.replace(' ', '_')
print(wine.head())
#와인 퀄리티가 몇개인지보여줌
print(sorted(wine['quality'].unique()))
#퀄리티에 해당하는 와인갯수 보여줌
print(wine['quality'].value_counts())

  type  fixed_acidity  volatile_acidity  citric_acid  residual_sugar  \
0  red            7.4              0.70         0.00             1.9
1  red            7.8              0.88         0.00             2.6
2  red            7.8              0.76         0.04             2.3
3  red           11.2              0.28         0.56             1.9
4  red            7.4              0.70         0.00             1.9

   chlorides  free_sulfur_dioxide  total_sulfur_dioxide  density    pH  \
0      0.076                 11.0                  34.0   0.9978  3.51
1      0.098                 25.0                  67.0   0.9968  3.20
2      0.092                 15.0                  54.0   0.9970  3.26
3      0.075                 17.0                  60.0   0.9980  3.16
4      0.076                 11.0                  34.0   0.9978  3.51

   sulphates  alcohol  quality
0       0.56      9.4        5
1       0.68      9.8        5
2       0.65      9.8        5
3       0.58      9.8        6
4       0.56      9.4        5
[3, 4, 5, 6, 7, 8, 9]
6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

In [50]:
# 선택된 'quality' 열에 대한 통계적 요약을 생성
wine.groupby('type')['quality'].describe()

#표준편차
wine.groupby('type')['quality'].std()

#agg안에는 내가 연산하고 싶은것을 넣어주면됨
wine.groupby('type')['quality'].agg(['mean', 'sum', 'std'])

#퀄리티의 sum / 알코올의 평균
wine.groupby('type').agg({'quality':'sum' , 'alcohol':'mean'})

#퀄리티의 합, 평균 / 알코올의 표준편차, 중앙값
wine.groupby('type').agg({'quality':['sum', 'mean'] , 'alcohol':['std', 'median']})

      quality             alcohol
          sum      mean       std median
type
red      9012  5.636023  1.065668   10.2
white   28790  5.877909  1.230621   10.4