In [11]:
import pandas  as pd


#pandas에서 인덱스를 따로 잡아주지 않으면 자동으로 숫자로 잡힘
a=[10, 20, 30, 40, 50]
sri1= pd.Series(a, index=['a', 'b', 'c', 'd', 'e'])
print(sri1)
print(sri1.index)
print(sri1.values)
print(sri1.value_counts)
print(sri1.dtype)

a    10
b    20
c    30
d    40
e    50
dtype: int64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[10 20 30 40 50]
<bound method IndexOpsMixin.value_counts of a    10
b    20
c    30
d    40
e    50
dtype: int64>
int64

In [17]:
b={'홍길동':70, '홍길순':80, '홍길자':90}
s1= pd.Series(b)
s1.index['dong', 'sun', 'ja']
print(s1)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [15]:
names = ['kim', 'lee', 'choi', 'park', 'jung']
years = [2013, 2014, 2013, 2015, 2014]
points =[1.5, 1.7, 3.6, 2.4, 2.9]

data={'name':names, 'year':years, 'point': points}
df=pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five'])
df

       name  year  point
one     kim  2013    1.5
two     lee  2014    1.7
three  choi  2013    3.6
four   park  2015    2.4
five   jung  2014    2.9

In [27]:
data=[names, years, points]
df1=pd.DataFrame(data).T
df1.columns=['name', 'year', 'point']
df1.index=['일', '이', '삼', '사', '오']

df1

   name  year point
일   kim  2013   1.5
이   lee  2014   1.7
삼  choi  2013   3.6
사  park  2015   2.4
오  jung  2014   2.9

In [39]:
df1.info()
df1['point']=df1['point'].astype('float32')
df1['year']=df1['year'].astype('int64')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 일 to 오
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   year    5 non-null      object
 2   point   5 non-null      float32
dtypes: float32(1), object(2)
memory usage: 312.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 일 to 오
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   year    5 non-null      int64
 2   point   5 non-null      float32
dtypes: float32(1), int64(1), object(1)
memory usage: 312.0+ bytes

In [43]:
df2=df1[['year', 'point']]
#describe = 통계요약정보
df2.describe()
# df2.info()
#Transpose하면 object로 변경되는게 있으니 참조하면됨

             year     point
count     5.00000  5.000000
mean   2013.80000  2.420000
std       0.83666  0.864292
min    2013.00000  1.500000
25%    2013.00000  1.700000
50%    2014.00000  2.400000
75%    2014.00000  2.900000
max    2015.00000  3.600000